@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Varela Round', sans-serif;
}

body{
    font-size: 14px;
    line-height: 30px;
}

header{
    text-align: center;
    padding: 40px;
    font-size: 22px;
    letter-spacing: 0.5em;
    font-family: 'Montserrat', sans-serif;
}

.resume{
    display: flex;
}

.resume_left{
    flex: 1;
    border: 2px;
    background: #263547;
    color: #FDFDFD;
    width: 100%;
    height: auto;
    padding: 30px;
}

.resume_right{
    margin-right: 20px;
    background: #FDFDFD;
    color: #263547;
    width: 100%;
    height: auto;
    padding: 30px;
}
.h3-red{
    color: #FD4345;
}

.hr-red{
    border-top: 5px solid #FD4345;
}

.contact{
    margin: 10px;
}

.education{
    margin: 10px;
}

.skills{
    margin: 10px;
}

.resume_profile{
    margin: 10px;
    padding-bottom: 5px;
}

.work_experience{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.award_and_certifications{
    margin: 10px;
    padding-top: 5px;
}